.header{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(0, 0, 0);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 110px;
  z-index: 100;
}
.left-section{
  display: flex;
  align-items: center;
}
.menu{
  height: 30px;
  margin-left: 30px;
  margin-right: 30px;
  cursor: pointer;
  transition: height 0.15s;
}
.menu:hover{
  height: 40px;
}
.logo{
  height: 70px;
  margin-right: 15px;
}
.logo-name{
  height: 30px;
}
.stylave{
  display: flex;
  align-items: center;
  cursor: pointer;
}
.mid-section{
  max-width: 600px;
  display: flex;
  align-items: center;
  flex: 1;
}
.searchbar{
  height: 50px;
  flex: 1;
  padding-left: 10px;
  font-size: 16px;
  border: 1px solid rgb(255, 255, 255);
  border-radius: 20px;
  background-color: black;
  font-size: 17px;
  color: white;
}
.searchbar::placeholder{
  font-size: 17px;
  color: rgb(202, 202, 202);
  padding-left: 5px;
}
.search-button{
  height: 55px;
  width: 60px;
  background-color: rgb(240, 240, 240);
  border-width: 1px;
  border-color: rgb(255, 255, 255);
  border-radius: 20px;
  border-style: solid;
  margin-left: -60px;
  cursor: pointer;
}
.search-button:hover .search-icon{
  height: 25px;
}
.search-icon{
  height: 35px;
  transition: height 0.15s;
}
.right-section{
  display: flex;
  align-items: center;
  flex-shrink: 0;
  padding-right: 60px;
}
.right-icons{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 40px;
}
.right-icons div{
  font-family: Roboto, Arial;
  color: rgb(201, 201, 201);
  margin-top: 5px;
  font-size: 12px;
  user-select: none;
}
.icon{
  height: 30px;
  cursor: pointer;
  transition: height 0.15s;
}
.icon:hover{
  height: 35px;
}
